<?xml version="1.0"?>
<robot name="finger2r">
  <link name="base"/>
  <link name="link1">
    <inertial><origin xyz="0.25 0 0"/><mass value="2.0"/><inertia ixx="0.0417" iyy="0.0417" izz="0.0417"/></inertial>
    <visual><origin xyz="0.25 0 0"/><geometry><box size="0.5 0.08 0.08"/></geometry></visual>
    <collision><origin xyz="0.25 0 0"/><geometry><box size="0.5 0.08 0.08"/></geometry></collision>
  </link>

  <joint name="joint1" type="revolute">
    <parent link="base"/>
    <child link="link1"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.0" friction="0.0"/>
    <limit lower="-300.14" upper="300.14" effort="50" velocity="6.0"/>
  </joint>

</robot>
